In [2]:
from pymongo import MongoClient  
    
# creation of object MongoClient  
client=MongoClient()  
    
# Connect with the portnumber and host  
client = MongoClient("mongodb://localhost:27017/")  
    
# Access database  
mydatabase = client['Credit_Score']  
    
# Access collection of the database  
collection=mydatabase['creditscores']  
data = [ 
    {"user":"Anil", "website":"creditangel", "score":800}, 
    {"user":"Amit",  "website":"creditingrained", "score":850}, 
    {"user":"Sumit",  "online":"creditangel", "score":630}, 
    {"user":"Krishna",  "online":"creditingrained", "score":750}, 
    {"user":"Akhil",  "online":"creditinsight", "score":700},
    {"user":"James",  "online":"creditinsighte", "score":820}] 
  
collection.insert_many(data)

In [5]:
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Unique user" : {"$sum" : 1} 
         }} 
    ])

In [6]:
for i in agg_result:
    print(i)

{'_id': 'James', 'Unique user': 1}
{'_id': 'Krishna', 'Unique user': 1}
{'_id': 'Akhil', 'Unique user': 1}
{'_id': 'Amit', 'Unique user': 1}
{'_id': 'Anil', 'Unique user': 1}
{'_id': 'Sumit', 'Unique user': 1}

In [10]:
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Max Score" : {"$max" :"$score"} 
         }} 
    ]) 
for i in agg_result: 
    print(i)

{'_id': 'James', 'Max Score': 820}
{'_id': 'Krishna', 'Max Score': 750}
{'_id': 'Akhil', 'Max Score': 700}
{'_id': 'Amit', 'Max Score': 850}
{'_id': 'Anil', 'Max Score': 800}
{'_id': 'Sumit', 'Max Score': 630}

In [12]:
import datetime

In [13]:
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [14]:
mydatabase1 = client['Store']

In [15]:
storecollection=mydatabase1['stores']  
storecollection.insert_many(data)

In [17]:
agg_result=storecollection.aggregate([
   {
      "$group": {
         "_id": '$item',
         "avgAmount": {"$avg": {"$multiply": [ "$price", "$quantity" ]}},
          "avgQuantity": { "$avg": "$quantity" }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}
{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}